<div class="container-md" [@fadeIn]>
  <div class="jumbotron">
    <h1>
      {{title}}
    </h1>
    <h4>Disfruta de los animales mas exoticos de nuestro planeta</h4>
    <p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/animales']">
        Ver Animales
      </a>
      <a class="btn btn-success btn-lg" [routerLink]="['/cuidadores']">
        Ver Cuidadores
      </a>
      <a class="btn btn-warning btn-lg" [routerLink]="['/contacto']">
        Contacta con nostros
      </a>
    </p>
  </div>
</div>