.pointer {
    cursor: pointer;
}
.navbar {
    background: #eee !important;
}

.jumbotron {
    padding: 40px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 2px 2px 1px #ccc;
}

.nav-item .active {
    border-bottom: 3px solid orange ;
}

.nav-item > a {
    border-bottom: 3px solid transparent;
}

.nav-item > a:hover {
    border-bottom: 3px solid orange;
}

.boton_transiciones {
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
    border: 1px solid orange;
    transition: border 2s, border-radius 500ms, background 5s;
    display: block;
}

.boton_transiciones:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    background: #ccc;
    border: 1px solid red;
}

.caja_animada {
    background: green;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    animation-name: rotacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* KEYFRAMES para deslizamiento*/
@keyframes deslizamiento {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 400px;
        background: red;
    }
} 
@keyframes rotacion {
    from {
        margin-left: 0px;
        transform: rotate(0deg);
    }
    to {
        margin-left: 600px;
        transform: rotate(360deg);
    }
} 
@keyframes deslizamiento1 {
    0% {
        margin-left: 0px;
    }
    25% {
        margin-left: 400px;
        background: red;
        border-radius: 1000px;
    }
    75% {
        margin-left: 0px;
        background: yellow;
        border-radius: 0px;
    }
    100% {
        background: green;
    }
}